.OrderDetails {
    margin: 10px auto;
    border-bottom: 1px solid goldenrod;
    position: relative;
    width: 50%;
}

.OrderDetails span {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
.BtnDelete {
    background: goldenrod;
    border: 1px solid goldenrod;
    padding: 10px 15px;
    position: absolute;
    top: 20%;
    right: 0;
}