.MenuElement{
    display: inline-block;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
}
.MenuElement:hover{
    background: aliceblue;
}
.MenuElementPrice{
    font-weight: bold;
}
